<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Foreground service permissions -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <!-- Android 13+ notification permission (required to display notifications) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Batteryjsontest">


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BatteryMonitorService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name=".DeviceIdContentProvider"
            android:authorities="com.example.batteryjsontest.deviceid"
            android:exported="true" />

    </application>
</manifest>
